/**
 * ✅ You can edit this file to add your own styles.
 */
.reelContainer {
    display: flex;
    overflow:hidden; 
    align-items: center;

    width: 100%;
    height: 60px;
    outline: 1px solid #353944;
}


.instrumentReel { 
    display: flex;
    flex-direction: row;
    flex: 0 0 max-content;

    /* this animation will have different speeds for different amounts of symbols
        TODO: investigate a way to have consistent speed */
    animation: carousel 20s linear infinite;
}

.instrumentReel:hover {
    animation-play-state: paused;
}

@keyframes carousel {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}