/**
 * ✅ You can edit this file to add your own styles.
 */
.instrument-reel {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.instrument-reel-track {
  display: inline-flex;
  animation: slide-left 15s linear infinite;
}
.instrument-reel-backfill {
  position: absolute;
  left: 100%;
}

@keyframes slide-left {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.instrument-reel:hover .instrument-reel-track {
  animation-play-state: paused;
}

.instrument {
  padding: 10px;
  display: inline-flex;
  align-items: center;
  border-right: 1px solid white;
}

.instrument-name {
  margin-right: 10px;
  font-weight: bold;
}

.instrument-quote {
  font-family: monospace;
  text-align: right;
  min-width: 60px;
}
.instrument-icon img {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.instrument-change {
  margin-left: 10px;
  margin-right: 10px;
  width: 45px;
  text-align: right;
  color: green;
}
.instrument-change.negative {
  color: red;
}
instrument.loaded .instrument-quote {
  min-width: 30px;
  transition: min-width 0.5s;
}
